:root {
  --clr-cyan: 180 66% 49%;
  --clr-d-violet: 257 27% 26%;
  --clr-vd-violet: 260 8% 14%;
  --clr-g-violet: 257 7% 63%;
  --clr-gray: 0 0% 75%;
  --clr-white: 0 0% 100%;
  --clr-red: 0 87% 67%;
  --clr-vd-blue: 255 11% 22%;
  --clr-hover: 163 61% 48%;
}

*:focus {
  outline: 1px solid hsl(var(--clr-cyan));
  outline-offset: 5px;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: hsl(var(--clr-white));
  line-height: 1.6;
  text-align: center;
  overflow-x: hidden;
}

a {
  color: hsl(var(--clr-g-violet));
  font-family: inherit;
  text-decoration: none;
}

a:hover,
.nav :not(:last-child) a:hover {
  color: hsl(var(--clr-cyan));
}

img {
  display: block;
}

p {
  color: hsl(var(--clr-g-violet));
}

.btn {
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-cyan));
  padding: 1rem 3rem;
  font-family: inherit;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.btn:hover {
  color: hsl(var(--clr-d-violet));
}

h1,
h2,
h3,
h4,
.btn,
.nav {
  font-weight: 700;
}

h1,
.section-2 h2,
h3 {
  color: hsl(var(--clr-vd-blue));
}
h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  line-height: 1;
}
h4 {
  margin-bottom: 1rem;
}

/* --------------------- */
/* ---utility-classes--- */
/* --------------------- */
.flex {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 2rem);
}

.container {
  padding-inline: 1.5rem;
}

.bg-clr-dv {
  background-color: hsl(var(--clr-d-violet));
}

.btn-round {
  border-radius: 2rem;
}

/* -------------------- */
/* ---header-section--- */
/* -------------------- */
.navbar {
  flex-direction: row;
  padding-block: 3rem;
}
.navbar .logo path {
  fill: hsl(var(--clr-vd-blue));
}
@media (max-width: 49.999em) {
  .nav-logo {
    background-image: url(../images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    filter: brightness(0.1);
    position: fixed;
    top: 3.5rem;
    right: 1.5rem;
    z-index: 1000;
  }
  .nav {
    --gap: 1.5rem;
    padding: 2rem 1.5rem;
    position: fixed;
    top: 5.5rem;
    left: 5%;
    width: 90%;
    min-height: 23.6rem;
    z-index: 1000;
    background-color: hsl(var(--clr-d-violet));
    border-radius: 10px;
    transition: all 300ms ease-out;
    transform: translateY(-125%);
    opacity: 0;
  }

  .nav[aria-expanded='true'] {
    transform: translateY(0);
    opacity: 1;
  }
  .nav a {
    color: hsl(var(--clr-white));
  }
  .login {
    margin-top: auto;
  }

  .login::before {
    display: block;
    content: '';
    background-color: hsl(var(--clr-g-violet) / 0.3);
    position: relative;
    top: -2.3rem;
    width: 100%;
    height: 1px;
  }

  .sign-up .btn {
    padding-block: 0.75rem;
    width: 100%;
  }
}

/* -------------------- */
/* ----main-section---- */
/* -------------------- */

/* section-1 */
.main-img {
  width: 150%;
}

.sub-content {
  align-items: center;
}

.sub-content p {
  margin-block: -1.25rem 0;
}

#shLink {
  --gap: 1.2rem;
  position: relative;
  transform: translateY(50%);
  background-image: url(../images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  align-items: center;
  border-radius: 10px;
  padding: 1.5rem;
}

#shLink > * {
  border-radius: 5px;
  width: 100%;
}

#shLink .btn {
  padding: 0.5rem;
}

#shLink input {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.6rem 1rem;
  border: none;
  color: hsl(var(--clr-d-violet));
  border-radius: 5px;
  width: 100%;
}

/* empty-input */
#shLink .invalid input {
  outline: 3px solid hsl(var(--clr-red));
}

.invalid input::placeholder {
  color: hsl(var(--clr-red));
}
.invalid::after {
  content: 'Please add a link';
  display: block;
  margin-top: 0.4rem;
  text-align: start;
  font-size: 0.85em;
  font-style: italic;
  color: hsl(var(--clr-red));
}

/* section-2 */
.section-2 {
  --gap: 2rem;
  background-color: hsl(230, 25%, 95%);
  padding-block: 6.7rem 5rem;
}

.section-2 h2 {
  margin-top: 4rem;
}

.card-container {
  --gap: 2rem;
}
.card {
  --gap: 0;
  font-size: 1rem;
  justify-content: start;
  align-items: center;
  background-color: hsl(var(--clr-white));
  border-radius: 5px;
  padding: 0 1.5rem 2rem;
  margin-top: 4rem;
  position: relative;
}
.card div {
  position: relative;
  transform: translateY(-50%);
  background-color: hsl(var(--clr-d-violet));
  padding: 1.5rem;
  border-radius: 50%;
}
.card img {
  width: 40px;
}

.card + .card::after {
  content: '';
  width: 0.5rem;
  background-color: hsl(var(--clr-cyan));
  height: 3.25rem;
  position: absolute;
  top: -6rem;
  display: block;
}
/* ------------------section-3----------------- */
.section-3 {
  --gap: 1.5rem;
  align-items: center;
  background-image: url(../images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 5.5rem;
}
/* -------------------------------------------- */

/* -------------------- */
/* ---footer-section--- */
/* -------------------- */
.footer {
  background-color: hsl(var(--clr-vd-violet));
  align-items: center;
  --gap: 3rem;
  padding-block: 4rem;
  font-size: 0.9rem;
}

.footer .logo path {
  fill: hsl(var(--clr-white));
}
.footer li:not(:last-child) {
  margin-bottom: 0.5rem;
}
/* ------------------------------------------------- */
.social-media {
  flex-direction: row;
  --gap: 1.5rem;
}
.social-media a {
  color: hsl(var(--clr-white));
}
.social-media a:hover {
  color: hsl(var(--clr-cyan));
}
/* ------------------------------------------------- */

/* -------------------- */
/* --dynamic-content--- */
/* -------------------- */
.linkCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: hsl(var(--clr-white));
  border-radius: 5px;
  padding: 1.5rem 0;
  gap: 0.75rem;
  text-align: start;
}

.linkCard :first-child {
  color: hsl(var(--clr-vd-violet));
  border-bottom: 2px solid hsl(var(--clr-gray) / 0.3);
  padding-bottom: 0.75rem;
  width: 100%;
  padding-inline: 1.5rem;
}
.linkCard p + p {
  color: hsl(var(--clr-cyan));
  padding-inline: 1.5rem;
}
.linkCard .btn {
  padding-block: 0.75rem;
  margin-inline: 1.5rem;
  align-self: stretch;
  border-radius: 5px;
}
.btn.bg-d-violet {
  background-color: hsl(var(--clr-d-violet)) !important;
}
.btn.bg-d-violet:hover {
  color: hsl(var(--clr-cyan));
}

@media (min-width: 50em) {
  .container {
    padding-inline: 6%;
  }
  .sign-up .btn {
    padding: 0.5rem 1.5rem;
    font-size: inherit;
  }
  .navbar {
    --gap: 1.5rem;
    align-items: center;
  }
  .nav {
    --gap: 2rem;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
    flex: 1;
  }
  .login {
    margin-left: auto;
  }

  .intro-part {
    gap: 0;
    margin-bottom: -3rem;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    position: relative;
    right: -20%;
    margin-left: -20%;
  }
  .sub-content {
    align-items: start;
    flex: 1;
    max-width: 45ch;
  }
  .sub-content p {
    margin-top: -2rem;
  }

  h1 {
    font-size: 4rem;
  }
  .main-img {
    flex: 1;
    min-width: 450px;
    max-width: 760px;
    position: relative;
  }

  #shLink {
    background-image: url(../images/bg-shorten-desktop.svg);
    background-size: cover;
    flex-direction: row;
    padding: 3rem;
  }
  #shLink input {
    padding: 1rem 2rem;
  }
  #shLink .btn {
    align-self: stretch;
    width: 30%;
    max-width: 11rem;
  }
  .invalid::after {
    position: absolute;
  }
  .section-2 {
    padding-block-start: 5.7rem;
    --gap: 1rem;
  }
  h2 + p {
    max-width: 45ch;
    margin: 0 auto;
  }
  .card-container {
    flex-direction: row;
    margin-block: 2rem 7rem;
  }
  .card {
    flex: 1;
    align-items: start;
    text-align: left;
    padding-inline: 2rem;
  }
  .card:nth-of-type(2) {
    position: relative;
    top: 2.75rem;
  }
  .card:nth-of-type(3) {
    position: relative;
    top: 5rem;
  }
  .card + .card::after {
    width: 2rem;
    height: 0.5rem;
    top: calc(50% - 2.75rem);
    left: -2rem;
  }
  .card:last-of-type::after {
    top: calc(50% - 5rem);
  }

  .linkCard {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 1.5rem 1rem 2rem;
  }

  .linkCard :first-child {
    color: hsl(var(--clr-vd-violet));
    border: none;
    padding: 0;
    width: auto;
  }
  .linkCard p + p {
    padding: 0;
    margin-left: auto;
  }
  .linkCard .btn {
    font-size: 0.9rem;
    flex-shrink: 0;
    padding: 0.5rem 0;
    width: 5.6rem;
    margin: 0;
  }

  .section-3 {
    background-image: url(../images/bg-boost-desktop.svg);
  }
  /* ------------------------------ */
  .footer {
    flex-direction: row;
    padding-block: 5rem;
    align-items: start;
    --gap: 8%;
    text-align: left;
  }
  .footer :nth-child(2) {
    margin-left: auto;
  }
  /* ------------------------------ */
}
