:root {
  --clr-cyan: 180 66% 49%;
  --clr-dviolet: 257 27% 26%;
  --clr-vdviolet: 260 8% 14%;
  --clr-gviolet: 257 7% 63%;
  --clr-gray: 0 0% 75%;
  --clr-white: 0 0% 100%;
  --clr-red: 0 87% 67%;
  --clr-vdblue: 255 11% 22%;
  --clr-hover: 163 61% 48%;
}

*:focus {
  outline: 1px solid hsl(var(--clr-cyan));
  outline-offset: 5px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  overflow-x: hidden;
}

a {
  color: hsl(var(--clr-gviolet));
  font-family: inherit;
  text-decoration: none;
}

a:hover {
  color: hsl(var(--clr-cyan));
}

img {
  display: block;
}

p {
  color: hsl(var(--clr-gviolet));
}

.btn {
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-cyan));
  padding: 1rem 3rem;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: trans#shLink250ms ease-in;
}

.btn:hover {
  color: hsl(var(--clr-dviolet));
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  color: hsl(var(--clr-vdblue));
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  line-height: 1;
}
h4 {
  margin-bottom: 1rem;
  color: hsl(var(--clr-white));
}

/* --------------------- */
/* ---utility-classes--- */
/* --------------------- */
.flex {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.bg-clr-dv {
  background-color: hsl(var(--clr-dviolet));
}

.btn-round {
  border-radius: 2rem;
}

/* -------------------- */
/* ---header-section--- */
/* -------------------- */
.navbar {
  flex-direction: row;
  padding: 2rem 1.5rem 0;
}
@media (max-width: 49.9999em) {
  .nav-logo {
    background-image: url(../images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    filter: brightness(0.1);
    position: fixed;
    top: 2.5rem;
    right: 1.5rem;
    z-index: 1000;
  }
  .nav {
    --gap: 1.5rem;
    padding: 2rem 1.5rem;
    position: fixed;
    top: 5.5rem;
    left: 5%;
    width: 90%;
    min-height: 23.6rem;
    z-index: 1000;
    font-weight: 700;
    background-color: hsl(var(--clr-dviolet));
    border-radius: 10px;
    transition: all 300ms ease-out;
    transform: translateY(-125%);
    opacity: 0;
  }

  .nav[aria-expanded='true'] {
    transform: translateY(0);
    opacity: 1;
  }
  .nav a {
    color: hsl(var(--clr-white));
  }
  .login {
    margin-top: auto;
  }

  .login::before {
    display: block;
    content: '';
    background-color: hsl(var(--clr-gviolet) / 0.3);
    position: relative;
    top: -2.3rem;
    width: 100%;
    height: 1px;
  }

  .sign-up .btn {
    padding-block: 0.75rem;
    width: 100%;
  }
}

/* -------------------- */
/* ----main-section---- */
/* -------------------- */

main {
  --gap: 0;
}
/* section-1 */
.section-1 {
  padding: 1.5rem 1.5rem 0;
  --gap: 2rem;
}
.main-img {
  width: 150%;
}

.sub-content {
  align-items: center;
}

.sub-content p {
  margin-block: -1.25rem 0;
}

#shLink {
  --gap: 1.2rem;
  position: relative;
  transform: translateY(50%);
  background-image: url(../images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  align-items: center;
  border-radius: 10px;
  padding: 1.5rem;
}

#shLink > * {
  border-radius: 5px;
  width: 100%;
}

#shLink .btn {
  padding: 0.5rem;
}

#shLink input {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.6rem 1rem;
  border: none;
  color: hsl(var(--clr-dviolet));
  border-radius: 5px;
  width: 100%;
}

/* empty-input */
#shLink .invalid input {
  outline: 3px solid hsl(var(--clr-red));
}

.invalid input::placeholder {
  color: hsl(var(--clr-red));
}
.invalid::after {
  content: 'Please add a link';
  display: block;
  margin-top: 0.4rem;
  text-align: start;
  font-size: 0.85em;
  font-style: italic;
  color: hsl(var(--clr-red));
}

/* section-2 */
.section-2 {
  --gap: 2rem;
  background-color: hsl(230, 25%, 95%);
  padding: 6.7rem 1.5rem 5rem;
}

h2 {
  margin-top: 4rem;
}

.card-container {
  --gap: 2rem;
}
.card {
  --gap: 0;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--clr-white));
  border-radius: 5px;
  padding: 0 1.5rem 2rem;
  margin-top: 4rem;
  position: relative;
}
.card div {
  position: relative;
  transform: translateY(-50%);
  background-color: hsl(var(--clr-dviolet));
  padding: 1.5rem;
  border-radius: 50%;
}
.card img {
  width: 40px;
}

.card + .card::after {
  content: '';
  width: 0.5rem;
  background-color: hsl(var(--clr-cyan));
  height: 3.25rem;
  position: absolute;
  top: -6rem;
  display: block;
}
/* section-3 */
.section-3 {
  --gap: 1.5rem;
  align-items: center;
  background-image: url(../images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 5.5rem;
}

.section-3 h2 {
  color: hsl(var(--clr-white));
  margin: 0;
}

/* -------------------- */
/* ---footer-section--- */
/* -------------------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding-block: 3rem 4rem;
  background-color: hsl(var(--clr-vdviolet));
  color: (--clr-white);
  font-size: 0.9rem;
}

footer .logo path {
  fill: hsl(var(--clr-white));
}
footer div:last-of-type {
  display: flex;
  gap: 1.5rem;
}
footer li {
  margin-bottom: 0.5rem;
}

.contact-links a {
  width: 24px;
  height: 24px;
}
.contact-links a:hover path {
  fill: hsl(var(--clr-cyan));
}

/* -------------------- */
/* --dynamic-content--- */
/* -------------------- */
.linkCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: hsl(var(--clr-white));
  border-radius: 5px;
  padding: 1.5rem 0;
  gap: 0.75rem;
  text-align: start;
}

.linkCard :first-child {
  color: hsl(var(--clr-vdviolet));
  border-bottom: 2px solid hsl(var(--clr-gray) / 0.3);
  padding-bottom: 0.75rem;
  width: 100%;
  padding-inline: 1.5rem;
}
.linkCard p + p {
  color: hsl(var(--clr-cyan));
  padding-inline: 1.5rem;
}
.linkCard .btn {
  padding-block: 0.75rem;
  margin-inline: 1.5rem;
  align-self: stretch;
  border-radius: 5px;
}
.bg-dviolet {
  background-color: hsl(var(--clr-dviolet));
}
.section-2 .bg-dviolet:hover {
  color: hsl(var(--clr-cyan));
}

@media (min-width: 50em) {
  .sign-up .btn {
    padding: 0.5rem 1.5rem;
    font-size: inherit;
  }
  .navbar {
    padding: 3rem 10%;
    --gap: 1.5rem;
    align-items: center;
  }
  .nav {
    --gap: 2rem;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 700;
    flex: 1;
  }
  .login {
    margin-left: auto;
  }

  .section-1,
  .section-2 {
    padding-inline: 10%;
  }

  .intro-part {
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: left;
  }
  .sub-content {
    align-items: start;
  }
  .sub-content p {
    margin-top: -2rem;
  }
  h1 {
    font-size: 4rem;
  }
  .main-img {
    width: 100%;
    position: relative;
    /* right: -10rem; */
  }

  #shLink {
    background-image: url(../images/bg-shorten-desktop.svg);
    background-size: cover;
    flex-direction: row;
    padding: 3rem;
  }
  #shLink input {
    padding: 1rem 2rem;
  }
  #shLink .btn {
    align-self: stretch;
    width: 30%;
    max-width: 11rem;
  }
  .invalid::after {
    position: absolute;
  }
  .section-2 {
    --gap: 1rem;
  }
  .card-container {
    flex-direction: row;
  }
  /* .card div {
    transform: translate(-130%, -50%);
  } */
  .linkCard {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 1.5rem 1rem 2rem;
  }

  .linkCard :first-child {
    color: hsl(var(--clr-vdviolet));
    border: none;
    padding: 0;
    width: auto;
  }
  .linkCard p + p {
    padding: 0;
    margin-left: auto;
  }
  .linkCard .btn {
    font-size: 0.9rem;
    flex-shrink: 0;
    padding: 0.5rem 0;
    width: 5.6rem;
    margin: 0;
  }

  .section-3 {
    background-image: url(../images/bg-boost-desktop.svg);
  }
  footer {
    padding: 3rem 10%;
    flex-direction: row;
    align-items: start;
    gap: 7vw;
    text-align: left;
  }
  footer :nth-child(2) {
    margin-left: auto;
  }
}
